/cmake-build-debug/
/main.cpp
/input.txt
/output.txt
/cmake-build-debug-coverage/
/venv/
/main.py
/3__red_belt/week_6/poiskovaia-sistiema/poiskovaia-sistiema.zip
/4__brown_belt/final/transportnyi-spravochnik-chast-a/transportnyi-spravochnik-chast-a.zip
/4__brown_belt/final/transportnyi-spravochnik-chast-b/transportnyi-spravochnik-chast-b.zip
/4__brown_belt/final/transportnyi-spravochnik-chast-c/transportnyi-spravochnik-chast-c.zip
